[user]
	name = Nicholas Firth-McCoy
	email = nicholas@2suggestions.com.au
[color]
	ui = true
[push]
	default = current
[branch]
	autosetupmerge = true
[diff]
  compactionHeuristic = true
[core]
  pager = diff-so-fancy | less --tabs=4 -RFX
  excludesfile = /home/nfm/.gitignore
[interactive]
  diffFilter = diff-so-fancy | less --tabs=4 -RFX
[web]
  browser = xdg-open
[alias]
  s = status
	b = branch
	ri = rebase --interactive
	ss = stash show -p
	sp = stash pop

	a = add
	ai = add --interactive
	au = add --update
  # Add only new files
  an = !git add $(git ls-files -o --exclude-standard)

	c = commit
	cm = commit --message
	ca = commit --amend
	cam = commit --all --message
	cane = commit --amend --no-edit

	co = checkout
	cob = checkout --branch

	d = diff
	dc = diff --cached

  # List all tags, using version ordering rather than alphabetic ordering
	t = !git tag | sort -V

  # Use hub to compare master with develop before deploying
  cc = compare master...develop

  # Use hub to open issues and PRs
  is = "!f() { hub browse -- issues/$1; }; f"
  pr = "!f() { hub browse -- pull/$1; }; f"
  prs = browse -- pulls/

	# Find files by file name
	f = "!git ls-files | grep -i"

  l = log
	ls = log --format='%C(yellow)%h%Creset%C(red)%d%Creset %s %C(blue)%aN%Creset %Cgreen(%ar)'
  ll = log --decorate --oneline
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --

  log0 = log --first-parent -m
  show0 = show --first-parent -m
  blame0 = blame --first-parent -m

  # Print filenames of modified files
  mod = diff --name-only --diff-filter=AM

  # Set up a file watcher that displays a realtime diff as things are staged
  w = "! clear && git diff; inotifywait --quiet --monitor --recursive --event create,move_self,close_write --format '%f %e' @./.git/ . | while read file; do clear && git diff; done;"
  wc = "! clear && git diff --cached; inotifywait --quiet --monitor --recursive --event create,move_self,close_write --format '%f %e' .git/ | while read file; do clear && git diff --cached; done;"
