bundle/cache

# Ignore installed vim bundles
config/nvim/bundle

# Ignore vscode config by default, it has a lot of cache files in this directory
config/Code

# Ignore files and dirs that don't have any useful config to version or should not be published
# flameshot
config/Dharkael
config/Empathy
config/Insync
config/Postman
config/QtProject.conf
config/Skype
config/Slack
config/TabNine
config/Trolltech.conf
# Created by zoom
config/Unknown\ Organization/
config/VirtualBox
config/autostart
config/configstore
# Binary config file, possibly unsafe to push
config/dconf
config/enchant
config/eog
config/evolution
config/evince
config/gedit
config/gnome-initial-setup-done
config/google-chrome-beta
config/gtk-3.0
config/hub
config/htop
config/ibus
config/inkscape
config/libreoffice
config/menus
config/monitors-v1-backup.xml
config/monitors.xml*
config/nautilus
config/pgcli
config/pulse
config/signond
config/software-center
config/sqlitebrowser
config/stripe
config/totem
config/transmission
config/unity
config/update-notifier
config/vlc
config/xfce4
config/yarn
config/zoomus.conf

local/include/python2.7
local/lib/python2.7
local/share
